.type-head{
	display: flex;
	flex-direction: row;
	padding:30upx;
}
.type-title{
	font-size: 32upx;
	color: #1F7DD6;
}
.title-img{
	width: 30upx;
	height: 30upx;
	margin-top: 10upx;
	margin-right: 10upx;
}
.bg{
	background-color: #D2EDF8;
	height: 100%;
}

/* 列表 */
.uni-list {
	background-color: #FFFFFF;
	position: relative;
	width: 100%;
	display: flex;
	flex-direction: column;
}
.uni-list:after {
	position: absolute;
	z-index: 10;
	right: 0;
	bottom: 0;
	left: 0;
	height: 1px;
	content: '';
	-webkit-transform: scaleY(.5);
	transform: scaleY(.5);
	background-color: #c8c7cc;
}
.uni-list::before {
	position: absolute;
	z-index: 10;
	right: 0;
	top: 0;
	left: 0;
	height: 1px;
	content: '';
	-webkit-transform: scaleY(.5);
	transform: scaleY(.5);
	background-color: #c8c7cc;
}
.uni-list-cell {
	position: relative;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}
.uni-list-cell-hover {
	background-color: #eee;
}
.uni-list-cell-pd {
	padding: 22rpx 30rpx;
}
.uni-list-cell-left {
    white-space: nowrap;
	font-size:28rpx;
	padding: 0 30rpx;
}
.uni-list-cell-db,
.uni-list-cell-right {
	flex: 1;
}
.uni-list-cell::after {
	position: absolute;
	z-index: 3;
	right: 0;
	bottom: 0;
	left: 30rpx;
	height: 1px;
	content: '';
	-webkit-transform: scaleY(.5);
	transform: scaleY(.5);
	background-color: #c8c7cc;
}
.uni-list .uni-list-cell:last-child::after {
	height: 0rpx;
}
.setting-body{
	color: #A8A8A8;
	margin-bottom: 100upx;
	font-size: 14px;
	background-color: white;
}
.setting-img{
	margin-left: 40upx;
	width: 30upx;
	height: 30upx;
}
.setting-line{
	display: flex;
	flex-flow: row;
	align-items:center; 
	height: 100upx;
	margin-bottom: 2upx;
}
.setting-text{
	margin-left: 40upx;
	font-size: 14px;
}
.line{
	background-color: #E4E4E4; 
	height: 2upx;
	/*解决:ios5不显示*/
	transform: scale(0.99);
	transform-origin: 0 0;
	margin-left: 40upx;
	margin-right: 40upx;
}
.arrows-right-setting{
	width: 40upx;
	height: 40upx;
	position:absolute;
	right:40upx;
}
.choose-value{
	font-size: 14px;
	position:absolute;
	right:90upx;
}
/*item的点击样式*/
.setting-click{
	background-color:#F5F5F5;
}
.collapse-item{
	background-color: white;
}
.bottom-view{
	padding-top: 20upx;
	padding-bottom: 40upx;
}
.custom-btn{
	margin-left: 200upx;
	margin-right: 200upx;
	background-color: #014EFF;
	color: white;
	font-size: 16px;

}