
.item-top{
	background-color: #fff;
	height: 20upx;
}
.item-bottom{
	display:flex;
	flex-direction: row;
}
.item-column{
	display:flex;
	flex-direction: column;
}
.img{
	width: 100%;
	height: 100%;
}
.item{
	width:100%;
	margin-top: 20upx;
	border-bottom-width: 1px;
	border-color: #eee;
	background-color: #FFFFFF;
	display: flex;
}

.star-img{
	padding-top: 3upx;
	width:30upx;
	height:30upx;
}
.item-body{
	font-size: 26upx;
	height: 106upx;
	margin-top: 10upx;
	overflow: hidden;
	display: -webkit-box;  
	-webkit-box-orient: vertical; 
	-webkit-line-clamp: 3; 
	color: #aaa;
}
.img-list{
	flex-shrink: 0;
	background-color: #fff;
	width: 260upx;
	height: 190upx;
}

.type-head{
	display: flex;
	flex-direction: row;
}
.type-title{
	font-size: 28upx;
}
.title-img{
	width: 30upx;
	height: 30upx;
	margin-top: 6upx;
	margin-right: 10upx;
}
.date-sel{
	display: flex;
	flex-direction: row;
	border-bottom: 0.5px solid #fff;
	margin-bottom: 20upx;
}
.food-head{
	margin-top: 16upx;
	height: 240upx;
	background-color: #D0EDFB;
	border-top-left-radius:1em;
	border-top-right-radius:1em;
	display: flex;
	flex-direction: row;
	
}
.drawer-item{
	display: flex;
	flex-direction: row;
	margin-bottom: 10upx;
}
.date-size{
	width: 240upx;
	margin-left: 10upx;
	border-radius:10upx;
	margin-top: 10upx;
}
.date-icon{
	margin-top: 40upx;
	padding-left: 10upx;
}

.w-enlish{
	font-size: 26upx;
}
.w1{
	background: #82C6F7;
	color: #1F77E4;
}
.w2{
	background: #F4E892;
	color: #E0B928;
}
.w3{
	background: #A6F5C6;
	color: #49C380;
}
.w4{
	background: #E7D7FB;
	color: #B48AE0;
}
.w5{
	background: #F6C7B2;
	color: #EF9160;
}
.w6{
	background: #00FF7F;
	color: #228B22;
}
.w7{
	background: #BA55D3;
	color: #9400D3;	
}
.w-left{
	margin-left: 10upx;
}
.w-right{
	/* margin-right: 10upx; */
}
uni-drawer > cu-card{
	flex-direction: row;
}
.date-col{
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	margin-top: 26upx;
	margin-bottom: 26upx;		
}
.pointer{
	width:30upx;
	height:30upx;
	/* margin-left: 114upx; */
}
.pointer-hiden{
	visibility:hidden;
}
.pointer-one{
	width:30upx;
	height:30upx;
	/* margin-left: 114upx; */
}
.week-inline-img{
	width: 100%;
	height: 340upx;
	margin-bottom: 20upx;
}

.card-item{
	background-color: #FFFFFF;
	height: 200upx;
	border-radius: 16upx;
}
.card-context{
	margin-left: 30upx;
}
.card-left-img{
	width: 130upx;
	height:130upx;
	/* margin-left: 16upx; */
	border-radius:120upx
}
.card-title{
	padding-top: 10upx;
	color: #2183CE;
	font-size: 30upx;
	width: 250upx;
}
.card-des{
	padding-top: 14upx;
	font-size: 26upx;
	color: #B3B3B3;
	width: 250upx;
	overflow: hidden;
	word-break: break-all;  /* break-all(允许在单词内换行。) */
	text-overflow: ellipsis;  /* 超出部分省略号 */
	display: -webkit-box; /** 对象作为伸缩盒子模型显示 **/
	-webkit-box-orient: vertical; /** 设置或检索伸缩盒对象的子元素的排列方式 **/
	-webkit-line-clamp: 2; /** 显示的行数 **/
}
.card-center{
	align-items: center;
	margin-left: 4upx;
	width: 150upx;
}

.card{
	 padding: 26upx 0upx 26upx 20upx;
}
.food-bottom{
	background-color: #D0EDFB;
}
.cu-card {
	display: block;
	overflow: hidden;
}
.cu-card>.cu-item {
	display: block;
	background-color: #FFFFFF;
	overflow: hidden;
	border-radius: 20upx;
	margin: 0upx 30upx 20upx 30upx;
	border-style: solid; 
	border-color: #DCDCDC;
	border-width: 1px;
}
.shadow {
	box-shadow: 6upx 6upx 8upx rgba(114, 130, 138, 0.2);
}
.custom-btn{
	position:absolute;
	right:15upx;
	bottom:15upx;
	font-size: 14px;
	height: 60upx;
	color: #007AFF;
	border: #007AFF solid 1upx;
	line-height: 60upx;
	/* padding-top: 8upx; */
}
/*item的点击样式*/
.setting-click{
	background-color:#F5F5F5;
}