
.item{
	width:92%;
	margin-top: 22upx;
	border-bottom-width: 1px;
	border-color: #eee;
	background-color: #FFFFFF;
		display: flex;
}

.news-item{
	/* height: 220upx; */
	flex-direction: column;
	padding: 24upx 30upx;
}
.online-item{
	flex-direction: column;
	padding: 12upx 30upx;
	/* height: 800upx; */
}

.item-right{
	flex-direction: row;
	overflow: hidden;
	margin-top: 0upx;
}
.item-title{
	font-size: 32upx;
	color: #303133;
	/* color: #000000; */
 	font-weight:bold;
	overflow: hidden;
	/* height: 44upx; */
	display: -webkit-box;
	-webkit-box-orient: vertical; 
	-webkit-line-clamp: 1; 
}
.item-body{
	font-size: 28upx;
	/* height: 106upx; */
	overflow: hidden;
	display: -webkit-box;  
	-webkit-box-orient: vertical; 
	-webkit-line-clamp: 2; 
	color: #4F4F4F;
	padding-right: 24upx;
}

.img-list{
	flex-shrink: 0;
	background-color: #fff;
	width: 180upx;
	height: 120upx;
	border: 2upx solid #0000000;
	-moz-border-radius: 12upx;
	-webkit-border-radius: 12upx;
	border-radius:12upx;
	margin-top: 20upx;
}


.img-list-single{
	width: 710upx;
	height: 400upx;
	margin: 16upx 20upx;
}
.setting-click{
	background-color:#F5F5F5;
}
.item-content{
	display: flex;
	flex-direction: column;
	
}
.item-author{
	color: #616161;
	display: -webkit-box;
	-webkit-box-orient: vertical; 
	-webkit-line-clamp: 1; 
	padding-bottom: 6upx;
	font-size: 26upx;
}
.item-other{
	color: #969696;
	padding-top: 10upx;
	font-size: 28upx;
	display: flex;
	flex-direction: row;
}

.u-tag {
	box-sizing: border-box;
	align-items: center;
	border-radius: 6upx;
	/* #ifndef APP-NVUE */
	display: inline-block;
	/* #endif */
	line-height: 1;
}
.u-size {
	margin-left: 30upx;
	font-size: 22upx;
	padding: 6upx 22upx;
	font-size: 24upx;
	border-radius: 100upx;
	background-color: #ecf5ff;
	color: #2979ff;
	border: 1px solid #a0cfff;
}