
.item{
	width:92%;
	margin-top: 24upx;
	border-bottom-width: 1px;
	border-color: #eee;
	background-color: #FFFFFF;
		display: flex;
}

.news-item{
	height: 220upx;
	flex-direction: row;
	padding: 24upx 30upx;
}
.online-item{
	flex-direction: column;
	padding: 12upx 30upx;
	/* height: 800upx; */
}

.item-right{
	padding-left: 20upx;
	overflow: hidden;
}
.item-title{
	font-size: 30upx;
	color: #303133;
	overflow: hidden;
	height: 84upx;
	/* 
	height: 40upx;
	display: block;
	text-overflow: ellipsis;
	white-space: nowrap; */
	display: -webkit-box;
	-webkit-box-orient: vertical; 
	-webkit-line-clamp: 2; 
}
.item-body{
	font-size: 26upx;
	height: 106upx;
	margin-top: 20upx;
	overflow: hidden;
	display: -webkit-box;  
	-webkit-box-orient: vertical; 
	-webkit-line-clamp: 3; 
	color: #aaa;
}

.img-list{
	flex-shrink: 0;
	background-color: #fff;
	width: 320upx;
	height: 220upx;
}


.img-list-single{
	width: 710upx;
	height: 400upx;
	margin: 16upx 20upx;
}
.setting-click{
	background-color:#F5F5F5;
}