
.setting-body{
	margin-top: 30upx;
	color: #A8A8A8;
	padding-left: 40upx;
	padding-right: 40upx;
	margin-bottom: 100upx;
	font-size: 16px;
}
.setting-img{
	width: 40upx;
	height: 40upx;
}
.setting-line{
	display: flex;
	flex-flow: row;
	align-items:center;
	height: 100upx;
	margin-bottom: 2upx;
}
.setting-text{
	margin-left: 30upx;
}
.line{
	background-color: #E4E4E4; 
	height: 2upx;
	/*解决:ios5不显示*/
	transform: scale(0.99);
	transform-origin: 0 0;
}
.arrows-right-setting{
	width: 50upx;
	height: 50upx;
	position:absolute;
	right:40upx;
}
/*item的点击样式*/
.setting-click{
	background-color:#F5F5F5;
}
.setting-switch{
	right: 40upx;
	position:absolute;
	height: 50upx;
	transform:scale(0.7);
}
.setting-cache{
	right: 50upx;
	position:absolute;
	/* height: 50upx; */
}