.content{
	padding-top: 40upx;
	margin-left: 40upx;
	margin-right: 40upx;
}
.feedback-title{
	font-size: 15px;
	color:#A2DEFA;
}
.feedback-title-img{
	width: 30upx;
	height: 30upx;
	margin-right: 10upx;
}
.feedback-border{
	border:1upx solid #E6E6E6;
	border-radius:6upx;
}
.textarea{
	margin-top:30upx;
	height: 300upx;
	padding: 30upx;
	width: 610upx;
	font-size:13px ;
}
.text-num{
	padding-top: 10upx;
	display: flex;
	justify-content: flex-end;
	color: #B4B4B4;
	margin-bottom: 20upx;
	font-size:13px ;
}
.contact-input{
	padding: 20upx;
	font-size:13px ;
	border:1upx solid #E6E6E6;
}
.hint-color{
	color: #B5B5B5;
	font-size:13px;
}
.feedback-hint{
	display: flex;
	flex-flow: row;
	justify-content: center;
	color: #828282;
	font-size:14px ;
}
.top{
	padding-top: 40upx;
}
.bottom{
	padding-top: 10upx;
	padding-bottom: 40upx;
}
.btn{
	width: 60%;
	transform: scale(0.99);
	transform-origin: 0 0;
	background: #76D2F7;
	color: white;
	letter-spacing:30upx;
	text-indent: 30upx;
	font-size: 20px;
}