.header{
	display: flex;
	flex-flow: row;
	justify-content: center;
	padding-top: 40upx;
}
.header view{
	display: flex;
	flex-flow: column;
	justify-content: center;
	text-align: center;
}
.header image{
	border-radius:50%;
	border:5upx solid #A2DEFA;
	margin-left: 30upx;
	margin-right: 30upx;
}
.doctor > image{
	height: 160upx;
	width: 160upx;
}
.nurse > image{
	margin-top: 40upx;
	height: 120upx;
	width: 120upx;
}
.post{
	color: #B4B4B4;
	font-size: 10px;
	padding-top: 30upx;
}
.dname{
	color: #848484;
	font-size: 14px;
}
.name{
	/* color: #848484; */
	color: #828282;
	font-size: 12px;
	font-weight: bold;
}
.content{
	margin-top: 50upx;
	padding-left: 30upx;
	padding-right: 30upx;
	font-size:14px ;
}
.title{
	font-size: 14px;
	color:#79D0F3;
	letter-spacing:2upx;
}
.title-img{
	width: 30upx;
	height: 30upx;
	margin-right: 10upx;
}
.doctor-introduce{
	margin-top: 30upx;
}
.introduce{
	font-size: 13px;
	color:#878787;
}
.service{
	margin-top: 30upx;
	margin-bottom: 20upx;
}
.service-dispaly{
	display: flex;
	flex-flow: row;
	justify-content: center;
	align-items: center;
	margin-top: 15upx;
}
.service-dispaly-bottom{
	padding-bottom: 30upx;
}
.service-btn{
	border:3upx solid #A2DEFA;
	border-radius:10upx;
	height: 100upx;
	width: 335upx;
	display: flex;
	flex-flow: row;
	justify-content: center;
	align-items: center;
	color: #828282;
	font-size: 13px;
}
.service-btn-left{
	margin-right: 10upx;
}
.service-btn-right{
	margin-left: 10upx;
}
.icon{
	width: 50upx;
	height: 50upx;
	margin-right: 30upx;
}
/*item的点击样式*/
.setting-click{
	background-color:#A2DEFA;
}
.mp-button::after {
	border: none;
}
button{
	background-color:#f8f8f800;
}