.header{
	background-color: #A2DEFA;
	height: 240upx;
	width: 100%;
	display: flex;
	flex-direction: row;
	align-items:center /*设置交叉轴的对齐方式*/
}
.user-img{
	height: 160upx;
	width: 160upx;
	border-radius:50%;
	border:6upx solid white;
	margin-left: 40upx;
	/* box-shadow:20upx 20upx 10upx #a2a2a3 ; */
}
.user-info{
	display: flex;
	flex-direction: column;
	margin-left: 40upx;
}
.user-name{
	color: white;
	font-size: 20px;
}
.user-other{
	color: white;
	padding-top: 20upx;
	display: flex;
	flex-direction: row;
}
.user-gender{
	font-size: 16px;
}
.user-age{
	font-size: 16px;
	padding-left: 30upx;
}
.user-load{
	position:absolute;
	right:0upx;
}
.arrows-right-user{
	width: 30upx;
	height: 30upx;
	margin-right:50upx;
}
.info-des{
	color: black;
	padding: 30upx;
	font-size: 12px;
	font-weight:bold
}
.setting-body{
	margin-top: 30upx;
	color: #A8A8A8;
	padding-left: 40upx;
	padding-right: 40upx;
	margin-bottom: 100upx;
	font-size: 16px;
}
.setting-img{
	width: 40upx;
	height: 40upx;
}
.setting-line{
	display: flex;
	flex-flow: row;
	align-items:center;
	height: 100upx;
	margin-bottom: 2upx;
}
.setting-text{
	margin-left: 30upx;
}
.line{
	background-color: #E4E4E4; 
	height: 2upx;
	/*解决:ios5不显示*/
	transform: scale(0.99);
	transform-origin: 0 0;
}
.arrows-right-setting{
	width: 50upx;
	height: 50upx;
	position:absolute;
	right:40upx;
}
/*item的点击样式*/
.setting-click{
	background-color:#F5F5F5;
}

